@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Open+Sans&display=swap');

*{
    margin: 0;
    font-family: 'Lunasima', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: #D8B4FE;
}

/*Header de la página */

header{
    width: 100%;
    height: 4.5em;
    background: #701A75;
    display: flex;
    align-items: center;
}

.titulo{
    padding-left: 1rem;
    color: aliceblue;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    margin-left: 1rem;
    margin-top: 0;
}

/*Buscador de pociones*/
.buscador{
    color: #fff;
    transition-property: all;
    transition: ease-in-out;
    transition-duration: 800ms;
    background: #A179C3;
    max-width: 35%;
    height: 2rem;
    display: flex;
    margin: auto;
    border-color: transparent;
    border-radius: 2rem;
    width: 60%;
}

.buscador:hover{
    transition: ease-in-out;
    transition-duration: 800ms;
    background-color: #8a378f;
}

h2{
    color: #581C87;
    text-align: center;
}

.contenido{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5% 0;
}

/*Nav de clasificación de las pociones*/

nav{
    background: #4A044E;
    margin: 0 10%;
    padding: 2em;
}
nav h3{
    color: #fff;
    margin-left: 1rem;
}
nav a{
    margin: 1em;
    text-decoration: none;
    color: rgb(244, 230, 253);
    display: block;
}
nav a:hover{
    font-size: 1.2rem;
    color: #8a378f;
}


/*producto*/

.pociones{
    display: grid;
    margin: 0 10%;
    padding: 1em;
}
.producto{
    background: #A179C3;
    color:#3B0764 ;
    display: grid;
    grid-template-columns: 12% 20% 20% 12% 12% 12% 12%;
    border-radius: 2rem;
    margin: 0.3rem;

}
.producto p{
    text-align: center;
}
.pociones a{
    justify-self: center;
}
.editar_crear, .imgPocion{
    width: 1.5em;
    align-items: center;
    margin-top: 0.8rem;
    margin: auto;
}


/* Formularios */

.modal {
    position: fixed;
    top: 10em;
    background: #C084FC;
    left:8%;
    border-color: transparent;
    border-radius: 20px;
    width: 80%; 
    color: #3B0764;
  
}

.modal h3{
    font-size: 1.8rem;
    margin: 3rem 0;
    margin-left: 40%;
    display: flex;
    text-align: center;
    
}

.modal::backdrop {
    background-color: #00000070;
}
.form{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: auto;

    
}
.campo1 {
    grid-column: 2;
    grid-row: 1;
}
.campo2{
    grid-column: 3;
    grid-row: 1;
}
.campo3{
    grid-column: 2;
    grid-row: 2;
}
.campo4{
    grid-row: 2;
    grid-column: 3;
}
.campo5{
    grid-column: 2/span 3;
    grid-row: 3;
}
.campo6{
    grid-row: 4;
    grid-column: 2 /span 3;
}

input{
    padding: 1rem;
}
.form label{
    font-size: 1.5rem;
}
.form label input {
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-radius:2rem ;
    border-color: #fff;
    width: 80%;
}

.boton1, .boton2, .boton3{
    background: #701A75;
    border-radius: 2rem;
    border-color: #701A75;
    color: #fff;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    padding: 0.2rem;
    height: 3rem;
}
.boton1{
    grid-column: 1;
    width: 70%;
    margin: 1rem;
}
.boton2{
    grid-row: 5;
    width: 50%;
}
.boton3{
    grid-column: 3/3;
    grid-row: 5;
    width: 50%;
}


.fotoPrev {
    width: 150px;
    height: 150px;
    margin: 1rem 4.5rem;
    grid-row: 1/span 2;
}