@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Open+Sans&display=swap');

*{
    margin: 0;
    font-family: 'Lunasima', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: #D8B4FE;
}

/*Header de la página */

header{
    width: 100%;
    height: 4.5em;
    background: #701A75;
    display: flex;
    align-items: center;
}

.titulo{
    padding-left: 1rem;
    color: aliceblue;
    letter-spacing: 0.2em;
}

/*Buscador de pociones*/
.buscador{
    color: #fff;
    transition-property: all;
    transition: ease-in-out;
    transition-duration: 800ms;
    background: #A179C3;
    max-width: 35%;
    height: 2rem;
    display: flex;
    margin: auto;
    border-color: transparent;
    border-radius: 2rem;
    width: 60%;
}

.buscador:hover{
    transition: ease-in-out;
    transition-duration: 800ms;
    background-color: #8a378f;
}

h2{
    color: #581C87;
    text-align: center;
}

.contenido{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5% 0;
}

/*Nav de clasificación de las pociones*/

nav{
    background: #4A044E;
    margin: 0 10%;
    padding: 2em;
}
nav h3{
    color: #fff;
}
nav a{
    margin: 1em;
    text-decoration: none;
    color: rgb(244, 230, 253);
}


/*producto*/

.pociones{
    display: grid;
    margin: 0 10%;
    padding: 1em;
}
.producto{
    background: #A179C3;
    color:#3B0764 ;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 2rem;

}
.producto p{
    text-align: center;
}
.pociones a{
    justify-self: center;
}
.agregar, .eliminar, .imgPocion{
    width: 1.5em;
    align-items: center;
    margin: auto;
}

/* Formularios */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 70ch;
    border-color: transparent;
    border-radius: 20px;
}

.modal::backdrop {
    background-color: #00000070;
}

.form label input {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.fotoPrev {
    width: 150px;
    height: 150px;
}